@tailwind base;
@tailwind components;
@tailwind utilities;

.boton-enlace {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #1d01a8;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .boton-enlace:hover {
    background-color: #0056b3;
  }
  
  .boton-enlace:active {
    background-color: #004080;
  }
  
  .boton-logout {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #634cda;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .fondoDashBoard{
    background-color: #031a2f;
  }